.idea/*
Dockerfile.dev
_go.mod
cmd/api/api
cmd/server/server
cmd/appoints/appoints
configs/cert
configs/config.toml
configs/dev
configs/stage
scripts/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.err

# Dependency directories (remove the comment below to include it)
vendor/